@import url('../../Styles/variables.css');

.pagination {
    .list {
        display: flex;
        font-size: 18px;
        gap: 10px;
    }
    .pageItem {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 1.5em;
        height: 2em;
    }
    .pageLink{
        text-align: center;
    }
    .active {
        background: var(--color-brand);
    }
    .active .pageLink {
        color: var(--text-color-w);
    }
    .arrowRight {
        transform: rotate(180deg);
    }
}