:root {
  background-color: rgba(239, 239, 239, 0.499);

}

a,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;

}