@import url('styles/variables.css');

:root {
  background-color: var(--bg-color);
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: var(--text-color-primary);
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
}